.timeline *{
	margin: 0;
	padding: 0;
}
.timeline ul{
	overflow: visible!important;	
}
.timeline ul,li{
	list-style: none;
	line-height: 2em
}
.timeline{
color: #767676;
	width: 100%;
	height: 100%;
	white-space:nowrap;
	position: relative;
	font-size: 12px;
}
.timeline .wrapper{
  padding: 0 10px;
  margin: auto;
  overflow: hidden;
}
.timeline .wrapper .bd {
	overflow: hidden;
}
.timeline .item{
	position: relative;
	width: 140px;
	height: 248px;
	display: inline-block;
	margin-left:20px;
}
.timeline .item .first{
	line-height:2em;
}
.timeline .item .title{
	border-left:none;
}
.timeline .item .title .title-left{
	display:inline-block;
	width:15px;
	line-height: 2.1em;
	background: url("../img/timeline/title.png") no-repeat 0 0;
	font-size: 14px;
}
.timeline .item .title .title-center{
	display:inline-block;
	background: url("../img/timeline/title.png") repeat-x 0 -600px;
	font-size: 15px;
	font-weight:bold;
	font-family:'微软雅黑';
	line-height: 2.1em;
	color: white;
}
.timeline .item .title .title-right{
	display:inline-block;
	width:15px;
	line-height: 2.1em;
	background: url("../img/timeline/title.png") no-repeat 0 -1200px;
	font-size: 14px;
}
.timeline .item .title{
	display: block;
	position: relative;
	left: -33px;
	background: url(../img/timeline/line-point.png) no-repeat 12px -212px;
}
.timeline .item.top{
	height: 248px;
}
.timeline .item.top .title{
}
.timeline .item.bottom .title{
	bottom: 0;
}
.timeline .item .content{
	padding-left: 13px;
	position: absolute;
}
.timeline .item.top .content{
	padding-top: 5px;
	top: 10px;
	padding-bottom: 13px;
}
.timeline .item.bottom .content{
	bottom: 7px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.timeline .item.bottom{
}

.timeline .item .content ul{}
.timeline .item .content ul li{
	padding-left:13px;
}
.timeline .item .content ul li.line-first{
	position: relative;
	padding-left: 19px;
	left: -4px;
	border-left: 0!important;
	background: url(../img/timeline/line-first.png) no-repeat 0px 0px;
	font-size: 14px;
	font-family:'微软雅黑';
	font-weight: 550;
}
.timeline .item .content ul li.line-last{
	border-left:none;
}
.timeline .item.top .content ul li .name{}
.timeline .item.top .content ul li .text{}
/**prev next*/
.timeline .prev {
	position: absolute;
	top: 104px;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 40px;
	background: url(../img/timeline/arrow.png) no-repeat -1px 13px;
}
.timeline .prev:hover{
cursor: pointer;
background-position-y: -28px;
}
.timeline .next:hover{
cursor: pointer;
background-position-y: -28px;
}
.timeline .next {
	position: absolute;
	top: 104px;
	right: 0;
	display: inline-block;
	width: 20px;
	height: 40px;
	background: url(../img/timeline/arrow.png) no-repeat -19px 13px;
}
/**line**/
.timeline .line {
	position: absolute;
	top: 125px;
	height: 1px;
	width: 100%;
	border-bottom: 2px dashed #7E899D;
	z-index: 0;
}
.timeline .item .line-point {
	position: absolute;
	left: 4px;
	bottom: -4px;
	display: block;
	height: 18px;
	width: 18px;
	background: url(../img/timeline/line-point.png) no-repeat 0px 0px;
	z-index: 1;
}
.timeline .item.bottom .line-point {
	top: -6px
}